body {
	margin: 0;
}
.left {
	float: left;
}
.right {
	float:  right;
}


nav {
	background-color: #EEE;
}
a {
	padding: 10px;
}
.nav-container {
	height: 100px;
    margin: auto;
    width: 60%;
    position: relative;
}
.secondary-nav {
	float: right;
}
.main-nav {
	position: absolute;
    bottom: 0;
    width: 100%;
}
.main-nav-container {
	margin: auto;
    width: 50%;
    text-align: center;
}
.main-nav-links {
	margin: auto;
    width: 100%;
    text-align: center;
}
.main-nav-links span {
	padding: 10px;
}
.register-sign-in {
	margin-left: 20px;
}


.dropdown-container {
	background-color: gray;
    height: 300px;
}

.dropdown-container .mega-col {
	width: 30%;
    float: left;
    height: 300px;
    background-color: #7BF;
}
.dropdown-container .mega-col:first-child { 
    padding-left: 5%;
    background-color: #DDD;
}
.dropdown-container .mega-col:last-child { 
    padding-left: 5%;
}
