nav {
	height: 100px;
    margin: auto;
    width: 60%;
    position: relative;
}
a {
	padding: 10px;
}
.nav-container {
	background-color: #CCC;
}
.secondary-nav {
	float: right;
}

.main-nav {
	position: absolute;
    bottom: 0;
    width: 100%;
}
.main-nav-container {
	margin: auto;
    width: 50%;
    text-align: center;
}
.main-nav-links {
	margin: auto;
    width: 100%;
    text-align: center;
}
.main-nav-links span {
	padding: 10px;
}
.dropdown-container {
	background-color: gray;
    height: 300px;
}
.dropdown-container div {
	margin: auto;
    width: 60%;
}
.dropdown-container .mega-col {
	width: 33%;
	float: left;
}
