body {
	margin: 0;
	font-family: Sans-Serif;
}
.left {
	float: left;
}
.right {
	float:  right;
}

nav {
	background-color: #f4f4f4;
}
a {
	padding: 10px;
    text-decoration: none;
}
ul {
    list-style-type: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
} 
li a {
    text-decoration: underline;
    padding: 5px 0;
    display: block;
}
.list {
    margin: 15px;
}
.nav-container {
	height: 100px;
    margin: auto;
    width: 1080px;
    position: relative;
}
.secondary-nav {
	float: right;
}
.secondary-nav a {
    display: inline-block;
}
.main-nav {
	position: absolute;
    bottom: 0;
    width: 100%;
}
.main-nav-container {
	margin: auto;
    width: 50%;
    text-align: center;
}
.main-nav-links {
	margin: auto;
    width: 100%;
    text-align: center;
}
.main-nav-links span {
	padding: 10px;
    display: inline-block;
}

.dropdown-container {
	position: fixed;
    width: 100%;
    border-top: 1px solid;
}
.dropdown-container > div {
	width: 1080px;
    margin: 0 auto;
}
.dropdown-container .mega-col {
	width: 33.33333333333%;
    float: left;
    height: 400px;
    background-color: #e2e2e2;
}
.dropdown-container .mega-col:first-child { 
    background-color: #ececec;
}
.dropdown-container .mega-col:last-child { 
}
.dropdown-container .mega-col > .title {
    height: 20px;
}
.title {
    margin: 15px;
}
.title:before {
    content: ' ';
}
.dropdown-container .dropdown-background {
    width: 100%;
    height: 400px;
    position: fixed;
    background-color: green;
    z-index: -1;
}
.half {
    width: 50%;
    background-color: blue;
    height: 100%;
}

.main {
    padding-top: 15px;
    width: 1080px;
    margin: 0 auto;
    background-color: #eee;
    height: 2000px;
    background-color: #fafafa;
}